<div class="game">
  <h1>{{model.name}}</h1>

  <h2>Current Spot</h2>
  {{#bg-container imageUrl=model.currentSpot.imageUrl}}
  {{render 'spots.partial' model.currentSpot}}
  {{/bg-container}}

  <hr />
  <h2>Previous Spots</h2>
  {{#each model.previousSpots as |spot|}}
    {{#bg-container imageUrl=spot.imageUrl}}
      {{render 'spots.partial' spot}}
    {{/bg-container}}
  {{/each}}
</div>

