<div class="game">
  <h1>{{model.name}}</h1>

  <h2>Spots</h2>
  <ol class="spot-list">
    {{#each model.spots as |spot|}}
    <li>
      {{render 'spots.spot' spot}}
    </li>
    {{/each}}
  </ol>
</div>

