<div class="game">
  <h1>{{model.name}}</h1>

  <h2>Spots</h2>
  <ol>
    {{#each spot in model.spots}}
    <li>{{#link-to 'spots.spot' spot}}Spot {{spot.id}}{{/link-to}}</li>
    {{/each}}
  </ol>
</div>

