<div class="all-games">
  {{#each sortedModel as |game|}}
    {{#bg-container imageUrl=game.currentSpot.imageUrl}}
      <div class="header">{{game.id}}: {{game.currentSpot.userName}}</div>
    {{/bg-container}}
  {{/each}}
</div>



