<table>
  <tr>
    <th>
      Id
    </th>
    <th>
      Name
    </th>
    <th>
      Score
    </th>
    <th>
      Created At
    </th>
  </tr>
  {{#each model as |user|}}
    {{#user-row user=user}}
    {{/user-row}}
  {{/each}}
</table>
