<h1>Spots</h1>

{{#map-plot markers=sortedModel}}
{{/map-plot}}

{{#each sortedModel as |spot|}}
  {{#bg-container imageUrl=spot.imageUrl}}
    {{render 'spots.partial' spot}}
  {{/bg-container}}
{{/each}}
