<h1>Spots</h1>

<div class="row">
{{#map-plot class="twelve columns"}}
{{/map-plot}}
</div>

{{#each sortedModel as |spot|}}
  {{#bg-container imageUrl=spot.imageUrl}}
    {{render 'spots.partial' spot}}
  {{/bg-container}}
{{/each}}
