{{render 'spots.partial' model}}

<h3>Guesses</h3>
<ol class="spot-guesses-list">
{{#each guess in model.guesses}}
  <li>
    {{#link-to 'guesses.guess' guess}}
      <img class="guess-image" src="{{guess.imageUrl}}" />
      <strong>{{guess.formattedCreatedAt}}</strong> <br />
      <strong>distance:</strong> {{guess.distance}}
    {{/link-to}}
  </li>
{{/each}}
</ol>

