<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li>{{#link-to 'games' class="button"}}All Games{{/link-to}}</li>
        <li>{{#link-to 'spots' class="button"}}All Spots{{/link-to}}</li>
        <li>{{#link-to 'guesses' class="button"}}All Guesses{{/link-to}}</li>
      </ul>
    </div>
    <h1>BikeTag <small>this is biketag. it's awesome.</small></h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {{outlet}}
  </div>
</div>
