<dl class="sub-nav">
  <dt>Guesses:</dt>

  {{#link-to "guesses.index" tagName="dd"}}
    <a href={{view.href}}>List</a>
  {{/link-to}}
  {{#link-to "guesses.map" tagName="dd"}}
    <a href={{view.href}}>Map</a>
  {{/link-to}}
</dl>

{{outlet}}
